
@{
    ViewBag.Title = "Twoja pogoda";
}

<my-app>
<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <hr />
                        <h2 class="text-center">
                            Pobieranie danych pogodowych ...
                        </h2>
                    <hr />
                </div>
            </div>
        </div>
</div>
</header>
<br />
</my-app>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <hr />
            <div class="post-preview">
                <div class="sub-form container">
                    <div class="row">
                        <div class="container" id="formContainer">
                            <form class="form-signin" id="login" role="form">
                                <h3 class="form-signin-heading btn-purple">Dołącz do naszej subskrypcji :></h3>
                                <a href="#" id="flipToRecover" class="flipLink">
                                    <div id="triangle-topright"></div>
                                </a>
                                <input type="email" class="form-control border-success font-weight-bold" name="loginEmail" id="loginEmail" placeholder="Wpisz swój adres email" required autofocus>
                                <br />
                                <input type="text" class="form-control border-success font-weight-bold" name="loginPass" id="loginPass" placeholder="Jakie miasto cię interesuje ?" required>
                                <br />
                                <button class="btn btn-lg btn-success btn-block" type="submit">Subskrybuj</button>
                            </form>
                        </div>
                    </div>
                </div>
                <br />
                <p class="post-meta text-center">
                    Z przyjemnością będziemy cię informować o stanie pogody na bieżąco :)
                </p>
            </div>
            <hr />
            <div class="float-right">
                <div class="clearfix">
                    <a class="btn btn-secondary" href="#">Więcej informacji pogodowych &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</div>


